<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        #myMainLink:hover {
            border: black;
            background-color: #0088CC;
        }
        .btn {
            width: 100%;
        }
    </style>
</head>
<body>
{% block header %}
    <header style="margin-top: 0; margin-bottom: 50px">
        <button style="width: 10%; border-radius: 10px" type="submit">
            <a class="btn"
               href="{{ path('app_translator_changelocale', {'_locale' : 'ru'}) }} ">{% trans from 'messages' %}header.ru{% endtrans %}</a>
        </button>
        <button style="width: 10%; border-radius: 10px" type="submit">
            <a class="btn"
               href="{{ path('app_translator_changelocale', {'_locale' : 'en'}) }} ">{% trans from 'messages' %}header.en{% endtrans %}</a>
        </button>
        <button style="width: 25%; border-radius: 10px; margin-left: 10px; background-color: #5eb5e0" type="submit">
            <a id="myMainLink" style="color: darkblue; width: 100%" class="btn"
               href="{{ path('homepage') }}">{% trans from 'messages' %}header.main{% endtrans %}</a>
        </button>
        {% if app.user %}
            <button style="width: 10%; border-radius: 10px; float: right" type="submit">
                <a class="btn"
                   href="{{ path('fos_user_security_logout') }}">{% trans from 'messages' %}header.log out{% endtrans %}</a>
            </button>
        {% else %}
            <button style="width: 15%; border-radius: 10px; float: right" type="submit">
                <a class="btn"
                   href="{{ path('fos_user_security_login') }} ">{% trans from 'messages' %}registration.log{% endtrans %}</a>
            </button>
            <button style="width: 15%; border-radius: 10px; float: right" type="submit">
                <a class="btn"
                   href="{{ path('fos_user_registration_register') }} ">{% trans from 'messages' %}login.registered{% endtrans %}</a>
            </button>
        {% endif %}
    </header>
{% endblock %}
{% block body %}
{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
