{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    {% if targetUrl %}
        <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}
    <button style="width: 30%; border-radius: 10px" type="submit">
        <a class="btn" href="{{ path('fos_user_security_login') }}">{% trans from 'messages' %}confirmed.login{% endtrans %}</a>
    </button>
{% endblock fos_user_content %}
