{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
{% block body %}
    <div class="container">
        <h1 style="text-align: center">{% trans from 'messages' %}greeting.hello{% endtrans %},
            {% if app.user %}
                {{ app.user }}
            {% else %}
                {% trans from 'messages' %}greeting.anon{% endtrans %}
            {% endif %}
        </h1>
        <h2 style="text-align: center">{% trans from 'messages' %}greeting.text{% endtrans %}</h2>
        <h2 style="text-align: center; margin: 50px">{% trans from 'messages' %}all phrases{% endtrans %}:</h2>
        <ul>
            {% for phrase in phrases %}
                <li><p><a href="{{ path('app_translator_showtranslationsphrases',  { id : phrase.id}) }}">{{ phrase.translate('ru').content }}</a></p></li>
            {% endfor %}
        </ul>
        <br>
        <hr>
        <br>
        {% if app.user %}
            <h2 style="text-align: center">{% trans from 'messages' %}enter a new phrase in Russian{% endtrans %}:</h2>
            {{ form(form) }}
        {% endif %}
    </div>
{% endblock %}