{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
{% block body %}
    <div class="container">
        <h1 style="text-align: center; margin-bottom: 50px">{% trans from 'messages' %}translation.hello{% endtrans %}
        </h1>
        {% if app.user %}
            {{ form_start(form, {'action': path('app_translator_showtranslationsphrases', {'id': phrase.id})}) }}
        {% endif %}
        <p>{% trans from 'messages' %}translation.phrase in russian{% endtrans %}: <b>{{ phrase.ruContent }}</b></p>
        <p>{% trans from 'messages' %}translation.phrase in english{% endtrans %}:
            {% if phrase.enContent %}
                <b>{{ phrase.enContent }}</b>
            {% else %}
                {% if app.user %}
                    {{ form_widget(form.enContent) }}
                {% endif %}
            {% endif %}
        </p>
        <p>{% trans from 'messages' %}translation.phrase in french{% endtrans %}:
            {% if phrase.frContent %}
                <b>{{ phrase.frContent }}</b>
            {% else %}
                {% if app.user %}
                    {{ form_widget(form.frContent) }}
                {% endif %}
            {% endif %}
        </p>
        <p>{% trans from 'messages' %}translation.phrase in kazakh{% endtrans %}:
            {% if phrase.kzContent %}
                <b>{{ phrase.kzContent }}</b>
            {% else %}
                {% if app.user %}
                    {{ form_widget(form.kzContent) }}
                {% endif %}
            {% endif %}
        </p>
        <p>{% trans from 'messages' %}translation.phrase in kyrgyz{% endtrans %}:
            {% if phrase.kgContent %}
                <b>{{ phrase.kgContent }}</b>
            {% else %}
                {% if app.user %}
                    {{ form_widget(form.kgContent) }}
                {% endif %}
            {% endif %}
        </p>
        <p>{% trans from 'messages' %}translation.phrase in turkish{% endtrans %}:
            {% if phrase.trContent %}
                <b>{{ phrase.trContent }}</b>
            {% else %}
                {% if app.user %}
                {{ form_widget(form.trContent) }}
                {% endif %}
            {% endif %}
        </p>
        {% if app.user %}
            {{ form_widget(form.save) }}
        {% endif %}
    </div>
{% endblock %}
