{% extends "@FOSUser/layout.html.twig" %}
{% block title %}Страница авторизации{% endblock %}
{% block fos_user_content %}{% trans_default_domain 'FOSUserBundle' %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div style=" background: #868686; width: 50%; margin: 80px auto; height: 200px; padding: 15px; border-radius: 15px" >
        <form  style="text-align: center; width: 500px" class="form" action="{{ path("fos_user_security_check") }}" method="post">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
            {% endif %}

            <label style="float: left" for="username">{{ 'security.login.username'|trans }} </label>
            <input style="float: right" type="text" id="username" name="_username" value="{{ last_username }}" required="required"/><br><br>

            <label style="float: left" for="password">{{ 'security.login.password'|trans }}:</label>
            <input style="float: right" type="password" id="password" name="_password" required="required"/><br><br>

            <input style="float: right;" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}"/>
        </form>
        <div style="margin-top: 30px">
            <h5 style="font-weight: bold">{% trans from 'messages' %}login.not yet registered{% endtrans %}?</h5>
            <button style="border-radius: 5px"><a class="btn" href="{{ path('fos_user_registration_register') }}">{% trans from 'messages' %}login.registered{% endtrans %}</a></button>
        </div>
    </div>
{% endblock fos_user_content %}
